.titleContainer{
    font-size: 2rem;
    margin-right: 50px;
    align-self:flex-end;
}
.linkTitle{
    text-decoration: none;
    color: #f6eef2;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
}